body {
	padding-top: 60px;
	padding-bottom: 40px;
}


.img-circle2 {
	width: 200px;
	height: 200px;
	line-height: 200px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	text-align: center;
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
}

.marketing-img {
	display: block;
	margin: 0 auto 30px;
	max-height: 145px;
	height: 80px;
	width: 80px;
	box-shadow: 1px 1px 1px 1px #AAAAAA;
}

.descobreix_color {
	background-image: linear-gradient(to bottom, #FF9900, #FFDE00);
}

.crea_color {
	background-image: linear-gradient(to bottom, #569908, #A8CB17);
}

.visualitza_color {
	background-image: linear-gradient(to bottom, #59B5D6, #00C0F7);
}

.comparteix_color {
	background-image: linear-gradient(to bottom, #3B5998 , #196ED1);
}

.img-circle2-small {
	width: 100px;
	height: 100px;
	line-height: 100px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	text-align: center;
	box-shadow: 1px 1px 1px black;
}

.img-circle2-icon {
	width: 20px;
	height: 20px;
	line-height: 100px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	text-align: center;
	box-shadow: 1px 1px 1px black;
	float: left;
	margin-left: 1px;
}

.circle_txt-small h1 {
	line-height: 100px;
}

div.circle_txt {
	font-size: 35px;
}

#cap_div {
	/* background-image:url('/share/img/cel.jpg'); */
	color: #333333;
	text-rendering: optimizelegibility;
	text-shadow: 0 4px 4px rgba(255, 255, 255, 0.75);
}

div.circle_txt-small p::first-letter  {
	color: #FFFFFF;
	padding-right:2px;
}

div.circle_txt p::first-letter  {
	font-size: 36px;
	font-style: italic;
}


div.circle_txt-small {
	margin: 10px 0;
	font-size: 20px;
	font-family: inherit;
	font-weight: bold;
	padding-left: 35px;
	text-rendering: optimizelegibility;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

div.circle_txt {
	margin: 10px 0;
	font-size: 30px;
	font-family: inherit;
	font-weight: bold;
	color: #FFFFFF;
	text-rendering: optimizelegibility;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

hr.soften {
	background-image: -moz-linear-gradient(left center, transparent, rgba(0, 0, 0, 0.1),
		transparent);
	border: 0 none;
	height: 1px;
	margin: 50px 0;
}


/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 5px;
	margin-left: 91%;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #f7f7f7;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	
	display: block;
	
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}