
.leaflet-control-layers {
	width: 150px;
	padding: 10px !important;
}

.leaflet-control-layers-separator {
	float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-control-layers-title {
	font-size: 1.2em;
}

.leaflet-control-layers .leaflet-row {
	float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-row .leaflet-input {
	float: left;
	width: 10%;
}

.leaflet-control-layers .leaflet-row .leaflet-name {
	float: left;
	/*width: 45%;*/
	/*width: 52%; /*75%;*/
	padding-right: 5px;
}

.leaflet-name label {
    word-wrap: break-word;
    width: auto;
    max-width: 115px;
}

.layer-count{
	font-weight: normal;
}

/*
.leaflet-control-layers .leaflet-row .leaflet-subrow .leaflet-name {
	float: left;
	/*width: 45%;*/
	/*width: 75%;
	padding-right: 5px;
}*/


.leaflet-count{
	float: left;
	/*width: 45%;
	width: 10%;
	padding-right: 5px;	*/
}

.options-conf{
	float: right;
	margin-right: 16px;
}

/*background-image: url(images/arrow-up.png);*/
.leaflet-control-layers .leaflet-row .leaflet-up {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

/*background-image: url(images/arrow-down.png);*/
.leaflet-control-layers .leaflet-row .leaflet-down {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

.leaflet-control-layers .leaflet-row .leaflet-remove {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

.leaflet-control-layers .leaflet-row .leaflet-subrow .leaflet-remove {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: block;
}

.leaflet-control-layers .leaflet-row .leaflet-download {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}
.leaflet-control-layers .leaflet-row .leaflet-data-table {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}
.leaflet-control-layers .leaflet-row .leaflet-download-visor {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-row .leaflet-conf {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-row .leaflet-conf:hover,
.leaflet-control-layers .leaflet-row .leaflet-up:hover,
.leaflet-control-layers .leaflet-row .leaflet-down:hover,
.leaflet-control-layers .leaflet-row .leaflet-remove:hover,
.leaflet-control-layers .leaflet-row .leaflet-download:hover,
.leaflet-control-layers .leaflet-row .leaflet-data-table:hover,
.leaflet-control-layers .leaflet-row .leaflet-download-visor:hover{
	opacity: 1;
}

.leaflet-subrow {
	margin-left: 15px;
}

.leaflet-control-layers .leaflet-subrow .leaflet-remove{
	margin-right:16px;
}

/*
nou cc

*/

@font-face {
    font-family: BebasNeueRegular;
    src: url(fonts/BebasNeue-webfont.woff);
}

@font-face {
    font-family: Alegreya-Regular;
    src: url(fonts/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(fonts/Ubuntu-Regular.ttf);
}



.ac-container{
	width: auto;
	/*
	margin: 10px auto 10px auto;
	*/
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto;
}
.ac-container label{
	
	padding: 5px 10px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #FFFFFF;
	line-height: 18px;
	background:  no-repeat scroll rgba(49, 50, 48, 0.5);
	
	/*
	border: 1px solid #8C8B8A;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
    box-sizing: content-box;
    font-size: 1.2em;
    */
    
    
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-family: inherit;
  
}
.ac-container label:hover{
	background:  no-repeat scroll rgba(49, 50, 48, 0.5);
}
.ac-container input.menu:checked + label,
.ac-container input.menu:checked + label:hover{
	background:  no-repeat scroll rgba(49, 50, 48, 0.5);
	color: #ffffff;
	
	
	/*
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
		
	*/	
}





.ac-container input.menu:checked + label:before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 4px;
	/*
	background: transparent url(images/arrow_down.png) no-repeat center center;	
	*/
}


/*

.ac-container input.menu:checked + label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 4px;
	background: transparent url(images/arrow_up.png) no-repeat center center;	
}
*/

.ac-container input.menu:checked + label:hover:after{
	/*
	background-image: url(images/arrow_up.png);
	*/
}
.ac-container input.menu{
	display: none;
}
.ac-container article{
	 background: rgba(166, 166, 166, 0.5) no-repeat scroll;
    border-bottom: 1px dashed #aaaaaa;
     border-left: 1px dashed #aaaaaa;
      border-right: 1px dashed #aaaaaa;
	margin-top: 0px !important;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}




.ac-container input.menu:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input.menu:checked ~ article.ac-large{
	height: auto;
	min-height: 30px;
	max-height : 100px;
	padding-top: 5px;
	overflow-y: auto;
	padding-left: 15px;
}

.menu-item-radio{
	 font-family: inherit;
	font-size: 12px;
	
}

.menu-item-checkbox{
	 font-family: inherit;
	font-size: 12px;
	
}

.bt_delete{
    position: relative;
	float: right;
	background-image: url(images/delete.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    border: none;           
    cursor: pointer;        
    height: 16px;   
    width: 16px;	
    vertical-align: middle; 
}


/*
.leaflet-control-layers:hover {
	
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
	border-radius: 5px;
}
*/

.addVerd{
	  background-color: transparent;
    background-image: url("images/addStuff.png");
    background-position: 99% 0;
    background-repeat: no-repeat;
    border: medium none;
    color: #00ff00;
    cursor: pointer;
    float: none;
    height: 25px;
    margin-bottom: 5px;
    position: relative;
    text-align: end;
    vertical-align: middle;
    width: 100%;
}

.addVerd:hover{
	 background-color: #4A4C47;
	
}	


.tema_verd{
	color: #4AB026;
    cursor: pointer;
    font-size: 12px;
    margin-left: 1px;
    float:right;
	
	
}

