
.leaflet-control-layers {
	width: 150px;
	padding: 10px !important;
}

.leaflet-control-layers-separator {
	float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-control-layers-title {
	font-size: inherit;
	 margin: 5px;
}

.leaflet-control-layers {
	float: left;
    width: 100%;
}

.leaflet-row {
	float: left;
    width: 100%;
    list-style-type: none;
}

.leaflet-control-layers .leaflet-input {
	float: left;
	width: 10%;
}

.leaflet-control-layers .leaflet-name {
	float: left;
	/*width: 45%;*/
	/*width: 52%; /*75%;*/
	padding-right: 5px;
}

.leaflet-name label {
    word-wrap: break-word;
    width: auto;
    max-width: 115px;
}

.layer-count{
	font-weight: normal;
}

label.error{
	text-decoration: line-through;
}

/*
.leaflet-control-layers .leaflet-subrow .leaflet-name {
	float: left;
	/*width: 45%;*/
	/*width: 75%;
	padding-right: 5px;
}*/


.leaflet-count{
	float: left;
	/*width: 45%;
	width: 10%;
	padding-right: 5px;	*/
}

.options-conf{
	float: right;
	margin-right: 16px;
}

/*background-image: url(images/arrow-up.png);*/
.leaflet-control-layers .leaflet-up {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

.leaflet-control-layers .leaflet-move {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: move;
    display: none;
}


.leaflet-control-layers .leaflet-zoom {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

/*background-image: url(images/arrow-down.png);*/
.leaflet-control-layers .leaflet-down {
	float: right;
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

.leaflet-control-layers .leaflet-remove {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}

.leaflet-control-layers .leaflet-trans {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}


.leaflet-control-layers .leaflet-subrow .leaflet-remove {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: block;
}




.leaflet-control-layers .leaflet-download {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
    display: none;
}
.leaflet-control-layers .leaflet-data-table {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}
.leaflet-control-layers .leaflet-download-visor {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-conf {
	float: right;	
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-conf:hover,
.leaflet-control-layers .leaflet-up:hover,
.leaflet-control-layers .leaflet-down:hover,
.leaflet-control-layers .leaflet-remove:hover,
.leaflet-control-layers .leaflet-download:hover,
.leaflet-control-layers .leaflet-data-table:hover,
.leaflet-control-layers .leaflet-download-visor:hover,
.leaflet-control-layers .leaflet-zoom:hover{
	 opacity: 1;
	color:#fcc403:
}

.leaflet-subrow {
	margin-left: 15px;
}

.leaflet-control-layers .leaflet-subrow .leaflet-remove{
	margin-right:16px;
}

/*
nou cc

*/

@font-face {
    font-family: BebasNeueRegular;
    src: url(fonts/BebasNeue-webfont.woff);
}

@font-face {
    font-family: Alegreya-Regular;
    src: url(fonts/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(fonts/Ubuntu-Regular.ttf);
}



.ac-container{
	width: auto;
	/*
	margin: 10px auto 10px auto;
	*/
	text-align: left;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
}
.ac-container .label_ac{
	
	padding: 5px 10px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	 border-left: 1px dashed #aaaaaa;
    border-right: 1px dashed #aaaaaa;
    border-top: 1px dashed #aaaaaa;
    color: #ffc500 !important;
	line-height: 18px;
	
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-family: inherit;
  
}

.ac-container .label_ac_novisible{
	
	padding: 5px 10px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	 border-left: 1px dashed #aaaaaa;
    border-right: 1px dashed #aaaaaa;
    border-top: 1px dashed #aaaaaa;
    color: #ffc500 !important;
	line-height: 18px;
	
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-family: inherit;
    display:none;
  
}
.ac-container .label_ac:hover{
	background:  no-repeat scroll rgba(49, 50, 48, 0.5);
}
.ac-container input.menu:checked + label,
.ac-container input.menu:checked + label:hover{
	/*
	background:  no-repeat scroll rgba(49, 50, 48, 0.5);
	*/
	color: #FFFFFF;
	
	
	/*
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
		
	*/	
}





.ac-container input.menu:checked + label:before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 4px;
	/*
	background: transparent url(images/arrow_down.png) no-repeat center center;	
	*/
}


/*

.ac-container input.menu:checked + label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 4px;
	background: transparent url(images/arrow_up.png) no-repeat center center;	
}
*/


.label_gl{	
	
   cursor: pointer;
    font-size: 7px;
    font-style: normal;
    margin-right: 5px;
   
	
}



.ac-container input.menu:checked + label:hover:after{
	/*
	background-image: url(images/arrow_up.png);
	*/
}
.ac-container input.menu{
	display: none;
}





.ac-container input.menu:checked ~ ol{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input.menu:checked ~ ol.ac-large{
	height: auto;
	min-height: 30px;
	max-height : 350px;
	padding-top: 5px;
	overflow-y: auto;
	padding-left: 5px;
}

.menu-item-radio{
	 font-family: inherit;
	font-size: 12px;
	
}

.menu-item-checkbox{
	 font-family: inherit;
	font-size: 12px;
	
}


.menu-sub-item-checkbox{
	 font-family: inherit;
	font-size: 11px;
	font-style: italic;
	margin-left: 15px;
	
}

.bt_delete{
    position: relative;
	float: right;
	background-image: url(images/delete.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    border: none;           
    cursor: pointer;        
    height: 16px;   
    width: 16px;	
    vertical-align: middle; 
}


/*
.leaflet-control-layers:hover {
	
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
	border-radius: 5px;
}
*/

.addVerd{
	   background-color: transparent;
    background-image: url("images/addStuff.png");
    background-position: 99% 0;
    background-repeat: no-repeat;
    border: medium none;
    color: #00ff00;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: 8px;
    position: relative;
    text-align: end;
    vertical-align: middle;
    width: 30px;
}

.addVerd:hover{
	 background-color: #4A4C47;
	
}	


.tema_verd{
	color: #FFC500;
    cursor: pointer;
    font-size: 12px;
    margin-left: 4px;
    float:right;
	
	
}



.tema_verd_move{
	color: #FFC500;
    cursor: move;
    font-size: 12px;
    margin-left: 4px;
    float:right;
	
	
}


.leaflet-control-layers #nomAplicacio {
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}



input[type='checkbox'].checkbox_styled + label:before,
input[type='checkbox'].checkbox_styled + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    
    font-family: 'Glyphicons Halflings';
    
    font-style: normal;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:pointer;
    color:white;
}


input[type='checkbox'].checkbox_styled + label:before{
    content: "\e157";
}
input[type='checkbox']:checked.checkbox_styled + label:before{
    content: "\e067";
}


input[type='radio'].checkbox_styled + label:before,
input[type='radio'].checkbox_styled + label:after{
    position: relative;
    top: 1px;
    display: inline-block;   
    font-family: 'Glyphicons Halflings';    
    font-style: normal;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:pointer;
    color:white;
}


input[type='radio'].checkbox_styled + label:before{
 content:"\e017";
 color:red;  
}

input[type='radio']:checked.checkbox_styled + label:before{
  content:"\e017";
  color:#00FF00;	
}




input[type='checkbox'].checkbox_time + label:before,
input[type='checkbox'].checkbox_time + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:pointer;
    color:white;
}
input[type='checkbox'].checkbox_time + label:before{
    content: "\e090";
     color:white;
}
input[type='checkbox']:checked.checkbox_time + label:before{
   
     content: "\e023";
    
     color:white;
}

















input[type='checkbox'].checkbox_eye + label:before,
input[type='checkbox'].checkbox_eye + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
     font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:pointer;
     color:white;
}
input[type='checkbox'].checkbox_eye + label:before{
    content: "\e106";
}
input[type='checkbox']:checked.checkbox_eye + label:before{
    content: "\e105";
}

.leaflet-control-layers {
    background: rgba(45, 46, 41, 0.9) none repeat scroll 0 0;  
    max-height: 650px;
   overflow-x: none;
    overflow-y: auto;
   
}



body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  right:100px;
  opacity: 0.8;
  z-index: 2000;
}

ol.leaflet-control-layers-overlays li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.leaflet-control-layers-overlays li.placeholder:before {
  position: absolute;
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent red;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 5px medium 5px 5px;
    content: "";
    height: 0;
    left: -5px;
    margin-top: -5px;
    position: absolute;
    top: -4px;
    width: 0;
}

ol.leaflet-control-layers-overlays{
	list-style-type: none;
	 list-style-type: none;
    margin-left: 0;
    min-height: 250px;
    padding-left: 0
	
}


ol.ac-large{
	 background: rgba(166, 166, 166, 0.5) no-repeat scroll;
   
   /*
    border-bottom: 1px dashed #aaaaaa;
     */
     
     border-left: 1px dashed #aaaaaa;
      border-right: 1px dashed #aaaaaa;
	margin-top: 0px !important;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}


ol.ac-large li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.ac-large li.placeholder:before {
  position: absolute;
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent red;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 5px medium 5px 5px;
    content: "";
    height: 0;
    left: -5px;
    margin-top: -5px;
    position: absolute;
    top: -4px;
    width: 0;
}




.leaflet-control-layers-selector {
   
    top: 0 !important;
    position: absolute !important;
}

.leaflet-refresh{
	float:right;
	margin-right:4px;
	cursor:pointer;
}















