
.taulaFeina{
	color:#FFFFFF;
	text-align:center;
	font-size:14px; 
	}

.taulaFeina tr td{
	
	border-bottom: 1px solid white;
	
	 /*
	 line-height:1;
	 */
	}

.ramp_color {
	background-image: linear-gradient(to top, #3B5998 , #196ED1,#59B5D6, #00C0F7,#569908, #A8CB17, #FF9900, #FFDE00);
border-right: 1px solid white;
}

.dv_dragdrop {	
 background-color: #F2F2F2;
    border: 2px dotted #F9A312;
    float: left;
    height: 65px;
    line-height: 0.45;
    margin-left: 15px;
    padding: 5px;
    width: 60%;
    color:#525252;
    margin-bottom: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    cursor: pointer;
}
.dv_dragdrop p label {
	font-size: 35px;	
}

.dv_dragdrop p {
	font-size: 10px;	
	}

.titol_explora{
	color:#FF9900;
text-shadow:2px 2px 4px #000000;
font-weight: bold;	
}

.titol_crea{
	color:#569908;
text-shadow:2px 2px 4px #000000;
font-weight: bold;	
}

.titol_visualitza{
	color:#33B9E3;
text-shadow:2px 2px 4px #000000;
font-weight: bold;	
}

.titol_comparteix{
	color:#1F61DD;
text-shadow:2px 2px 4px #000000;
font-weight: bold;
	
}

#dv_formats{
   border: 0 solid #FF0000;
    float: right;
    height: 10px;
    margin-right: 10px;
    width: 60px;
    height: 65px;
    margin-bottom: 12px;
    opacity:1;
	}
.child_formats{
    float:left;
    margin-right:5px;
    font-size: 10px;
    line-height: 0.6;
    text-align: left;
    padding: 5px;  
}

.child_formats p a {
 color: white;
 text-decoration: underline;		
}

.div_punt{
	width:50px;
	height:80px;
	background-image: url("/share/css/leaflet/images/marker-icon-2x.png");
	background-repeat: no-repeat;
	margin-left: 35%;
	cursor:pointer;
	
}

#div_fons img{
	
	cursor:pointer;
	width: 40px;
	height: 40px;	
}

#div_resultats img{
	
	cursor:pointer;
	width: 40px;
	height: 40px;
	
	
}

h1, h2, h3, h4, h5, h6{
   
    line-height: 0.6;
}
.zocial.icon.ft {
background-color: transparent;
box-shadow: none;
	
	
}

.td1{background-color:#595959; background-color: rgba(89, 89, 89, 0.7);}

.td2{background-color:#404040;background-color: rgba(64, 64, 64, 0.7);}

.td3{background-color:#262626;background-color: rgba(38, 38, 38, 0.7);}

.td4{background-color:#0D0D0D;background-color: rgba(13, 13, 13, 0.7);}


.green, .green a, .green span {
  color: #00ff00;
}

.greenfort, .greenfort a, .greenfort span {
  color: #55821D;
  cursor:pointer;	
}

.grisfort, .grisfort a, .grisfort span {
  color: #464646;
  cursor:pointer;	
}


.white, .white a, .white span {
	color: #ffffff;
	font-size: 24px;
	cursor:pointer;	
}




.label-explora {
    background-color: #F6A529;
}

.leaflet-control-layers{
	width: 250px;
	height: 300px;
	display:none;
}

.leaflet-draw{
	clear: none;
	top: 40px;
}


.leaflet-draw-toolbar .leaflet-draw-draw-menu {
	background-position: -2px -2px;
}

.info {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);    
    clear: left;
    float: left;
   
    left: 35px;
    
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    width: 26px;
    }

    .info:hover {
    background: none repeat scroll 0 0 rgba(244, 244, 244, 0.8);
 
    }
    
     .info_actiu {
    background: none repeat scroll 0 0 rgba(244, 0, 0, 0.8);
 
    }
    
    