
<br>
<div class="input-group input-group-sm">
	<span lang="ca" class="input-group-addon">Nom capa</span> <input
		type="text" id="input-url-file-name"
		class="form-control input-url-file-name_de">
</div>
<br>
<div>
	Format :&nbsp; <select id="select-url-file-format"
		class="form-download-format select-url-file-format_de">
		<option value=".geojson">GeoJSON</option>
		<option value=".shp">ESRI Shapefile</option>
		<option value=".dxf">DXF</option>
		<option value=".dgn">DGN</option>
		<option value=".kml">KML</option>
		<option value=".gpx">GPX</option>
		<option value=".gml">GML</option>
		<option value=".kmz">KMZ</option>
		<option value=".csv">CSV</option>
		<option value=".txt">TXT</option>
		<option value=".xls">XLS</option>
		<option value=".xlsx">XLSX</option>
		<option value=".zip">Zip File</option>
		<option value=".json">JSON</option>
		<option value="-1">Selecciona el Format</option>
	</select> <br> <br>
	<div id="input-excel-url-file" class="input-excel-url-file_de">
		<div class="panel-body">
			<ul class="nav nav-pills nav-pills-urlfile" id="nav_pill">
				<li id="coordenades" class="active">
				<a lang="ca" data-toggle="tab" href="#opt_urlfile_coord" aria-expanded="true">Per
						coordenades</a></li>
				<li id="adreca" class=""><a lang="ca" data-toggle="tab"
					href="#opt_urlfile_adreca" aria-expanded="false">Per adreces</a></li>
				<li id="codis" class=""><a lang="ca" data-toggle="tab"
					href="#opt_urlfile_codi" aria-expanded="false">Per codis</a></li>
			</ul>
			<!-- Tab panes -->
			 <div class="tab-content">
			<div id="opt_urlfile_coord"
				class="tab-pane active opt_urlfile_coord_de">
				<ul class="pane-excel-urlfile">
					<label lang="ca">On són les coordenades?</label>
					<br>
					<div class="input-group input-group-sm">
						<span lang="ca" class="input-group-addon">Coordenada X o
							LON</span> <input type="text" id="input-coord-x"
							class="form-control input-coord-x_de">
					</div>
					<br>
					<div class="input-group input-group-sm">
						<span lang="ca" class="input-group-addon">Coordenada Y o
							LAT </span> <input type="text" id="input-coord-y"
							class="form-control input-coord-y_de">
					</div>
					<br>
				</ul>
			</div>
			<div id="opt_urlfile_adreca" class="tab-pane opt_urlfile_adreca_de">
				<ul class="pane-excel-urlfile">
					<span lang="ca">Per codificar per adreces utilitza aquest</span>
					<a class="alert-link" lang="ca"
						href="dades/exemple_geocod_adreces.xlsx">arxiu tipus</a>
					<span lang="ca">amb les teves dades.</span>
					<br />
					<span lang="ca">Els camps Nom_via, Portal i Municipi són
						obligatoris.</span>
				</ul>
			</div>
			<div id="opt_urlfile_codi"
				class="tab-pane tab-pane-urlfile opt_urlfile_codi_de">
				<ul class="pane-excel-urlfile">
					<li><label lang="ca">Els teus codis són de</label>:</li>
					<li><select class="cmd_codiType_Capa_de"
						id="cmd_codiType_Capa_de">
							<option lang="ca" value="municipis" selected="">Municipis</option>
							<option lang="ca" value="comarques">Comarques</option>
					</select></li>
					<li><label lang="ca">Tipus codi</label></li>
					<li><select name="select_codiType" class="cmd_codiType_de"
						id="cmd_codiType_de">
							<option value="ine">INE (5 digits)</option>
							<option value="idescat">IDESCAT (6 digits)</option>
							<option value="municat">MUNICAT (10 digits)</option>
							<option value="cadastre">CADASTRE (5 digits)</option>
					</select></li>
					<li><label lang="ca">Camp que conté el codi</label></li>
					<li>
						<div class="input-group input-group-sm">
							<input type="text" id="input-camp-codi-urlfile"
								class="form-control input-camp-codi-urlfile_de"
								placeholder="Entrar camp'">
						</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</div>
<br>
EPSG:&nbsp;
<select id="select-url-file-epsg"
	class="form-download-epsg select-url-file-epsg_de">
	<option value="EPSG:4326">EPSG:4326 (WGS84 geogràfiques (lat,
		lon) - G.G)</option>
	<option value="EPSG:23031"><b>EPSG:23031</b> (ED50-UTM 31N
		Easting,Northing o X,Y)
	</option>
	<option value="EPSG:25831">EPSG:25831 (ETRS89-UTM 31N
		Easting,Northing o X,Y)</option>
	<option value="EPSG:4258">EPSG:4258 INSPIRE(ETRS89
		geogràfiques (lat, lon) - G.G)</option>
	<option value="EPSG:4230">EPSG:4230 (ED50 geogràfiques (lat,
		lon) - G.G)</option>
	<option value="EPSG:32631">EPSG:32631 (WGS84 31N
		Easting,Northing o X,Y)</option>
	<option value="EPSG:3857">EPSG:3857 (WGS84 Pseudo-Mercator
		Easting,Northing o X,Y)</option>
	<option value="-1">Selecciona el EPSG</option>
</select>
<br>
<br>
<input id="dinamic_chck" class="dinamic_chck_de" type="checkbox"
	checked="checked">
&nbsp;Dinàmica
<br>
<small lang="ca" class="label label-success" id="label-dinamic">
	Dinàmic: S'accedirà a la font de dades cada cop que es carregui la capa
</small>
</div>
&nbsp;
<div style="float: right">
	<button id="bt_URLfitxer_go"
		class="btn btn-success btn-add-wms bt_URLfitxer_go_de" lang="ca">Afegir
		capa</button>
</div>
<div id="div_url_file_message"
	class="alert alert-danger div_url_file_message_de"></div>