
<br>
<div class="input-group input-group-sm">
	<span lang="ca" class="input-group-addon">Nom capa</span> <input
		type="text" id="input-url-file-name" class="form-control">
</div>
<br>
<div>
	<input id="dinamic_chck" type="checkbox" checked="checked">
	&nbsp;Dinàmica <br>
	<small lang="ca" class="label label-success" id="label-dinamic">
		Dinàmic: S'accedirà a la font de dades cada cop que es carregui la
		capa </small>
</div>
&nbsp;
<div style="float: right">
	<button id="bt_URLfitxer_go" class="btn btn-success btn-add-wms"
		lang="ca">Afegir capa</button>
</div>
<div id="div_url_file_message" class="alert alert-danger"></div>