<div class="input-group txt_ext">
	<input type="text" lang="ca"
		class="input_dadesExternes_url form-control" value=""
		placeholder="Entrar URL de dades externes" style="height: 33px"
		id="txt_URLfile"> <span class="input-group-btn">
		<button type="button" id="bt_URLfitxer" lang="ca" title="Enviar"
			class="bt_dadesExternes_url btn btn-success">
			<span class="fa fa-cloud-download blanc"></span>
		</button>
	</span>
</div>
<div id="div_url_file" class="div_dadesExternes_menu tbl_url_file"></div>
