<h5 lang="ca">Triar l'operació</h5>
<div class="div_gr3_sig">
	<div id="columnJoin" lang="ca" data-toggle="tooltip" title="Unió per columna" data-lang-title="Unió per columna" class="div_sig_7"></div>
	<div id="spatialJoin" lang="ca" data-toggle="tooltip" title="Punts dins de polígons" data-lang-title="Punts dins de polígons" class="div_sig_6"></div>
	<div id="filtre" lang="ca" data-toggle="tooltip" title="Filtre" data-lang-title="Filtre" class="div_sig_5"></div>
	<div id="union" lang="ca" class="div_sig_8" data-toggle="tooltip" data-lang-title="Fusi&oacute; de capes" title="Fusi&oacute; de capes"></div>
	<div id="fons_sig" lang="ca" class="div_fons_5" data-toggle="tooltip" data-lang-title="Més funcions SIG" title="Més funcions SIG"></div>
</div>