<!-- Modal Widgets -->
<div class="modal fade dialgo_widgets">
	<div class="modal-dialog">
  	<div class="modal-content panel-primary">
  		<div class="modal-header panel-heading">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">
				<span lang="ca">Ginys</span>
				<span><a class="faqs_link"
					href="http://betaportal.icgc.cat/wordpress/faq-dinstamaps/"
					target="_blank"><i class="fa fa-question-circle-o fa-lg fa-fw"></i></a></span>
			</h4>		
		</div>
		<div class="modal-body">
			<div class="widget-header">
				<div class="widgets-list"></div>
				<div class="selectMunicipi"></div>
				
			</div>
			<div class="widget-body">
				<div class="drawWidgets"></div>
				<div class="listMunicipis"></div>
			</div>
		</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Fi Modal Widgets -->