<!-- Modal delete layer -->
<div id="dialog_bloqueig_mapa" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-body" style="padding: 20px !important;">
				<span lang="ca">Aquest &eacute;s un mapa col&middot;laboratiu. Mentre hi treballeu la seva edici&oacute; queda bloquejada per a la resta de col&middot;laboradors.</span><br/>
				<spab>Quan acabeu el vostre treball premeu "Sortir/desbloquejar" per alliberar el bloqueig. Altrament quedar&agrave; alliberat autom&agrave;ticament passades 8 hores.</span>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Continuar treballant</button>
				<button lang="ca" type="button" class="btn btn-danger"
					data-dismiss="modal">Desbloquejar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal delete -->