<!-- Modal etiquetes layer -->
<div id="dialog_etiquetes_capa" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
				<h4 class="modal-title">
				<span lang="ca">Etiquetes de la capa</span> "<span id="nom_capa_etiqueta"></span>"
				</h4>
				<input type="hidden" name="businessIdCapaEtiqueta" id="businessIdCapaEtiqueta" value="">
				<input type="hidden" name="leafletIdCapaEtiqueta" id="leafletIdCapaEtiqueta" value="">
				<input type="hidden" name="leafletIdCapaEtiquetaControl" id="leafletIdCapaEtiquetaControl" value="">
			</div>
			<div class="modal-body2">
				<div class="labels_fields" style="padding-bottom:6px;">
					<span>1.</span><span lang="ca">Estil de les etiquetes</span>:
				</div>
				<div class="labels_fields" style="padding-bottom:6px;padding-left:10px;">
					<span></span><span lang="ca">Camp</span>:
					<select name="dataField" id="dataFieldEtiqueta" style="margin-left:10px; width: 135px;">
					</select>
				</div>
				<script id="etiquetes-layers-fields" type="text/x-handlebars-template">
					{{#each fields}}
						<option value="{{this}}">{{@key}}</option>
					{{/each}}
				</script>
				<div class="labels_fields" style="padding-bottom:6px;padding-left:10px;">
					<span lang="ca">Font</span>:
					<select name="font-family" id="font-family" style="margin-left:17px; width: 135px;">
						<option value="Arial">Arial</option>
						<option value="Gill Sans">Gill Sans</option>
						<option value="Verdana">Verdana</option>
						<option value="Times New Roman">Times New Roman</option>
					</select>
					&nbsp;&nbsp;&nbsp;<span lang="ca">Mida</span>:
					<select name="font-size" id="font-size" style="margin-left:12px">
						<option value="10px">10px</option>
						<option value="12px">12px</option>
						<option value="14px">14px</option>
						<option value="16px">16px</option>
						<option value="20px">20px</option>
						<option value="24px">24px</option>
						<option value="30px">30px</option>
						<option value="36px">36px</option>
						<option value="42px">42px</option>
					</select>
				</div>
				<div class="labels_fields" style="padding-left:10px;">
					<span lang="ca">Estil</span>:
					<select name="font-style" id="font-style" style="margin-left:18px; width: 135px;">
						<option value="normal">Normal</option>
						<option value="bold">Negreta</option>
						<option value="italic">Cursiva</option>
					</select>
					&nbsp;&nbsp;&nbsp;<span lang="ca">Color</span>:
					<div class="btn-group" style="vertical-align:top;">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" style="margin-top:-5px;">
							<div id="dv_color_etiqueta" class="color_etiqueta"></div>
						</a>
						<ul class="dropdown-menu" >
							<li><div id="colorpalette_etiqueta"></div></li>
						</ul>
					</div>
				</div>
				<div class="labels_fields" style="padding-left:10px;">
					<span lang="ca">Caixet&iacute;</span>:
					<input type="radio" name="caixeti" value="si" style="margin-left:31px;"/>Si&nbsp;&nbsp;<input type="radio" name="caixeti" value="no" checked/>No
					&nbsp;&nbsp;&nbsp;&nbsp;<span lang="ca">Color caixet&iacute;</span>:
					<div class="btn-group" style="vertical-align:top;">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" style="margin-top:-5px;">
							<div id="dv_color_caixa_etiqueta" class="color_etiqueta"></div>
						</a>
						<ul class="dropdown-menu" >
							<li><div id="colorpalette_caixa_etiqueta"></div></li>
						</ul>
					</div>
				</div>
				<div class="labels_fields" style="padding-left:10px;padding-bottom:10px;">
					<span lang="ca">Contorn text</span>:
					<input type="radio" name="contorn" value="si" checked/>Si&nbsp;&nbsp;<input type="radio" name="contorn" value="no"/>No				
				</div>
				<div class="labels_fields" style="padding-bottom:10px">
					<span>2.</span>
					<span lang="ca">Visibilitat de les etiquetes</span>:<br/>
					<input type="radio" name="etiqueta" id="etiqueta" value="etiquetageom" checked>Etiquetes+geometries
					&nbsp;&nbsp;<input type="radio" name="etiqueta" id="etiqueta" value="geometries" >Geometries
					&nbsp;&nbsp;<input type="radio" name="etiqueta" id="etiqueta" value="nomesetiqueta">Només etiquetes
				</div>
				<div class="labels_fields">
					<span lang="ca">Nivell de zoom:</span><br/>
					<div id="slider" style="width:65%;"></div>
				</div>	
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Cancel·lar</button>
				<button lang="ca" type="button" class="btn btn-success"
					data-dismiss="modal">Etiquetar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal delete -->