<!-- Modal afegir nova columna taula de dades -->
	<div id="dialog_add_column" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content panel-primary">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 lang="ca" class="modal-title">Afegir nova propietat</h4>
				</div>
				<div class="modal-body">
					<span lang="ca">Nom:</span>
					<input type="text" value="" id="newColumnName" style="width:400px"/><br/>
				</div>
				<div class="modal-footer">
					<button lang="ca" type="button" class="btn btn-default"
						data-dismiss="modal" id="cancelarBoto">Cancel·lar</button>
					<button lang="ca" type="button" class="btn btn-success btn-default"
						data-dismiss="modal" id="addColumnBoto">Afegir</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->