<!-- Modal Centroide -->
<div id="dialog_centroid" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<span lang="ca">Centre geomètric</span>
					<span><a class="faqs_link"
						href="http://betaportal.icgc.cat/wordpress/faq-dinstamaps/"
						target="_blank"><i class="fa fa-question-circle-o fa-lg fa-fw"></i></a></span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<span lang="ca">Aquesta operació calcula el centre geomètric o centroide d'un polígon tancat.</span>'&nbsp;
					<span lang="ca">Aplicable a polígons.</span><br/><br/>
					<div class="imagePeu"><img src="css/images/Centroid_1.jpg" class="img1">
						<span class="peu" lang="ca">Capa d'origen</span>
						<img src="css/images/Centroid_2.jpg">
						<span class="peu2" lang="ca">Resultat de l'operació</span>
					</div>
					<div style="margin-top:30px;margin-bottom:-20px;">	
						<span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span lang="ca">Aquesta operació està disponible per capes dibuixades o creades a partir de fitxers de menys de 50Mb.</span><br/><br/>
					</div>				
				</div>
				<form id="frm_buffer">
					<div class="modal-layers-sig">
					</div>
					<br>
				</form>					
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default" data-dismiss="modal">Cancel·lar</button>
				<button lang="ca" type="button" class="btn btn-primary">Centre geomètric</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal Centroide -->