<!-- Modal Union -->
<div id="dialog_union" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<span lang="ca">Union</span>
					<span><a class="faqs_link"
						href="http://betaportal.icgc.cat/wordpress/faq-dinstamaps/#operacionsgeo"
						target="_blank"><i class="fa fa-question-circle-o fa-lg fa-fw"></i></a></span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					Aquesta operació transmet la informació associada a polígons als
					punts continguts dins aquests.<br /> <img
						src="css/images/Tag_1.jpg" style="width: 25%; height: 25%">
					<img src="css/images/Tag_2.jpg" style="width: 25%; height: 25%">
					<img src="css/images/Tag_3.jpg" style="width: 25%; height: 25%"><br />
				</div>
				<form id="frm_buffer">
					<div class="modal-layers-sig"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Cancel·lar</button>
				<button lang="ca" type="button" class="btn btn-primary">Union</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal Union -->