<!-- Modal Url/iframe -->
	<div id="dialgo_url_iframe" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 lang="ca" id="modal-title-publicar" class="modal-title">Mapa publicat</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
			    	<label for="urlMap"><span lang="ca">Per enllaçar amb aquest mapa, copieu i enganxeu el següent text</span>:</label>
			    	<input type="text" class="form-control" id="urlMap">
			  	</div>
			  	<div class="form-group">
				  	<label for="iframeMap"><span lang="ca">Per inserir aquest mapa al vostre web, copieu i enganxeu el següent text</span>:</label>
				  	<textarea class="form-control" rows="3" id="iframeMap"></textarea>
			  	</div>
                   <div class="form-group">
                   <label><span lang="ca">Per compartir el teu mapa</span></label>
                   <div id="socialSharePublicar"></div>
                   </div>
				<div id="urlVisorMap"><a href="" target="_blank"><span lang="ca">Veure el mapa</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-share-alt"></span></a></div>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-success btn-default"
					data-dismiss="modal">Acceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal Url/iframe -->