<!-- Modal Error upload fitxers -->
<div id="dialog_info_upload" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header alert-info">        
      				<h4 class="modal-title">
      					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> window.lang.translate("Carregar dades")+'</h4>
      			</div>
      			<div class="modal-body">
				<div  id="dialog_info_upload_txt" class="modal-body" lang="ca">	
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" lang="ca">
					Acceptar
				</button>					
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- fi Modal Captura -->