<!-- Modal delete layer -->
<div id="dialog_bloqueig_mapa" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-body">
				<h4>
				<span lang="ca">Vols desbloquejar el mapa?</h4>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Continuar treballant</button>
				<button lang="ca" type="button" class="btn btn-danger"
					data-dismiss="modal">Desbloquejar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal delete -->