<!-- Modal info layer -->
<div id="dialog_info_capa" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
				<h4 class="modal-title" lang="ca">URL de la capa carregada</h4>
			</div>
			<div class="modal-body">
				<input type="text" id="url_capa" class="form-control"  value="" disabled>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Tancar</button>			
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal info -->