<!-- Modal delete layer -->
<div id="dialog_delete_group" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-body">
				<h4>
				<span lang="ca">Vols esborrar el grup </span> 
				"<span id="nom_group_delete"></span>" i totes les seves capes ?</h4>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Cancel·lar</button>
				<button lang="ca" type="button" class="btn btn-danger"
					data-dismiss="modal">Esborrar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal delete -->