<!-- Modal Carrega dades -->
<div class="modal fade" id="dialog_carrega_dades">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<span lang="ca">Carregar dades</span>
					<span><a class="faqs_link" href="http://betaportal.icgc.cat/wordpress/faq-dinstamaps/#carrdad" target="_blank"><i class="fa fa-question-circle-o fa-lg fa-fw"></i></a></span>
				</h4>
			</div>
			<div class="modal-body">
			
			
			<ul class="nav nav-tabs etiqueta">
  				<li class="active">
  				<a data-toggle="tab" href="#opt_local">
  				<i class="fa fa-folder-open" aria-hidden="true"></i> Local				
  				</a></li>
  				<li><a data-toggle="tab" href="#opt_remot">				
  				<i class="fa fa-cloud" aria-hidden="true"></i> Núvol
  				</a></li>
		    </ul>
			
			<div class="tab-content">
			<!-- inici tab local -->
						
  			<div id="opt_local" class="tab-pane fade in active">
					
			
				<div id="div_formats" class="alert alert-success">
					<span class="glyphicon glyphicon-upload"></span> 
					<span lang="ca">Formats suportats </span>:<br> 
					KML, KMZ, GeoJSON, GML, SHP(ZIP),	GPX, TXT, CSV,
					 geoCSV (WKT), DXF, DGN v7, XLS, XLSX, JPG, SID, TIF i ECW.
					 
					
					<br><a class="alert-link" lang="ca"	href="http://betaportal.icgc.cat/wordpress/carrega-de-dades-instamaps/" target="_blank">Veure més informació i exemples <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
				</div>
				<div id="div_formats" class="alert alert-success">
					<strong><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span lang="ca">Atenció</span>: </strong><span lang="ca">Per fitxers amb gran quantitat de dades el procés pot tardar uns minuts</span>		
				</div>		
				<table id="tbl_loadCapa">
					<tr>
						<td><input type="hidden" id="formFile" value="false">
							<input type="hidden" id="file_path" value="">
							<button lang="ca" type="button" class="btn btn-success btn-upload"  name="upload" id="upload_file">Carrega arxiu <i class="fa fa-upload" aria-hidden="true"></i></button> 
						</td>
						<td>
							<div id="file_name" style="font-size: 100%"	class="label label-default"></div>
							<div id="file_load" class="search-load" style="display: none;"></div>
						</td>
						<td>
							<div style="display: none; cursor: pointer"	class="glyphicon glyphicon-trash" id="bt_esborra_ff"></div>
						</td>
					<tr>
				</table>
				<div id="dv_optSRS">
					<div class="panel panel-danger">
						<div lang="ca" class="panel-heading">Escull el sistema de referència d'aquest arxiu</div>
						<div class="panel-body">
							<ul class="bs-dadesO_JSON">
								<li>
								
								<select id="select-upload-ff-epsg" style="width: 100%" class="js-data-example-ajax">
									<option lang="ca" value="null">Selecciona un SR..s</option>
									<option value="EPSG:4326">EPSG:4326 GPS(WGS84 geogràfiques (lat, lon) - G.G)</option>
									<option value="EPSG:25831">EPSG:25831 (ETRS89-UTM 31N Easting,Northing o X,Y)</option>
									<option value="EPSG:25830">EPSG:25830 (ETRS89-UTM 30N Easting,Northing o X,Y)</option>
									<option value="EPSG:25829">EPSG:25829 (ETRS89-UTM 29N Easting,Northing o X,Y)</option>
									<option value="EPSG:4258">EPSG:4258 INSPIRE(ETRS89 geogràfiques (lat, lon) - G.G)</option>
									<option value="EPSG:4230">EPSG:4230 (ED50 geogràfiques (lat, lon) - G.G)</option>
									<option value="EPSG:3857">EPSG:3857 (WGS84 Pseudo-Mercator Easting,Northing o X,Y)</option>
									<option value="EPSG:23031">EPSG:23031 (ED50-UTM 31N	Easting,Northing o X,Y)</option>
									<option value="EPSG:23030">EPSG:23030 (ED50-UTM 30N	Easting,Northing o X,Y)</option>
									<option value="EPSG:23029">EPSG:23029 (ED50-UTM 29N	Easting,Northing o X,Y)</option>
									<option value="EPSG:32631">EPSG:32631 (WGS84 31N Easting,Northing o X,Y)</option>
								</select>
								</li>
							</ul>
							<button class="btn btn-success btn_mig" lang="ca" id="load_FF_SRS_coord">Processar arxiu</button>
						</div>
					</div>
				</div>
				
			
			</div>	
				
			<div id="opt_remot" class="tab-pane fade">
			
			<div id="div_formats" class="alert alert-success">
					<span class="glyphicon glyphicon-upload"></span> 
					<span lang="ca">Serveis suportats </span>:<br> 
					DropBox <i class="fa fa-dropbox" aria-hidden="true"></i>,
					 Google Drive <i class="fa fa-google-plus-square" aria-hidden="true"></i>, GitHub <i class="fa fa-github" aria-hidden="true"></i>,
					  Socrata, CKAN <span lang="ca">i fitxers via</span>
					   HTTP o HTTPS
					
					<br><a class="alert-link" lang="ca"	href="http://betaportal.icgc.cat/wordpress/treballar-amb-instamaps-des-del-google-drive/" target="_blank">Veure més informació i exemples <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
				</div>
				
				<div id="container_dades_externes"></div>
			
			
			   
			</div>	
				
		<!-- fi tab local -->		
				</div>
				<div id="dv_optCapa">
					<div class="panel panel-danger">
						<div lang="ca" class="panel-heading">Com vols geolocalitzar aquest arxiu?</div>
						<div class="panel-body">
							<ul id="nav_pill" class="nav nav-pills">
								<li class="active"><a href="#opt_coord" lang="ca"
									data-toggle="tab">Per coordenades</a></li>
								<li ><a href="#opt_adreca" lang="ca" data-toggle="tab">Per adreces</a></li>
								<li ><a href="#opt_codi" lang="ca" data-toggle="tab">Per codis</a></li>
								<li ><a href="#opt_dades" lang="ca" data-toggle="tab">Sense coordenades</a></li>
							</ul>
							<!-- Tab panes -->
							<div id="dv_contentOpt" class="tab-content tab-content-margin5px">
								<div class="tab-pane active" id="opt_coord">
									<ul class="bs-dadesO_JSON">
										<li style="width:90%"><label lang="ca">On són les coordenades?</label> 
										<input id="opt_csv_coords" type="radio" value="coords" checked name="opt_csv_field">
										<label lang="ca">Camps XY</label> 
										<input id="opt_csv_geom" type="radio" value="wkt" name="opt_csv_field">
										<label lang="ca">Geometria WKT</label>
										</li>
                                       <ul id="ul_coords">
											<li lang="ca">Coordenada X o Longitud</li>
											<li><select style="width: 100%;" id="cmd_upload_colX"></select></li>
											<li lang="ca">Coordenada Y o Latitud</li>
											<li><select style="width: 100%;" id="cmd_upload_colY"></select></li>
										</ul>
                                       <ul id="ul_geom">										
											<li lang="ca">Camp geomètric</li>
											<li><select style="width: 100%;" id="cmd_upload_wkt"></select></li>		
										</ul>
										<li><label lang="ca">Quin és el sistema de referència?</label></li>
										<li>
										<select id="select-upload-epsg" style="width: 100%"  class="js-data-example-ajax"   >
											<option lang="ca" value="null">Selecciona un SR</option>
											<option value="EPSG:4326">EPSG:4326 GPS(WGS84 geogràfiques (lat, lon) - G.G)</option>
											<option value="EPSG:25831">EPSG:25831 (ETRS89-UTM 31N Easting,Northing o X,Y)</option>
											<option value="EPSG:25830">EPSG:25830 (ETRS89-UTM 30N Easting,Northing o X,Y)</option>
											<option value="EPSG:25829">EPSG:25829 (ETRS89-UTM 29N Easting,Northing o X,Y)</option>
											<option value="EPSG:4258">EPSG:4258 INSPIRE(ETRS89 geogràfiques (lat, lon) - G.G)</option>
											<option value="EPSG:4230">EPSG:4230 (ED50 geogràfiques (lat, lon) - G.G)</option>
											<option value="EPSG:3857">EPSG:3857 (WGS84 Pseudo-Mercator Easting,Northing o X,Y)</option>
											<option value="EPSG:23031">EPSG:23031 (ED50-UTM 31N	Easting,Northing o X,Y)</option>
											<option value="EPSG:23030">EPSG:23030 (ED50-UTM 30N	Easting,Northing o X,Y)</option>
											<option value="EPSG:23029">EPSG:23029 (ED50-UTM 29N	Easting,Northing o X,Y)</option>
											<option value="EPSG:32631">EPSG:32631 (WGS84 31N Easting,Northing o X,Y)</option>
										</select>
										</li>
									</ul>
									<button class="btn btn-success btn_mig" lang="ca" id="load_TXT_coord">Processar arxiu</button>
								</div>
								<div class="tab-pane" id="opt_adreca">
									<ul class="bs-dadesO_JSON">
										<li style="width:90%"><label lang="ca">Format de l'adre&ccedil;a: </label> 
										<input id="opt_csv_parts" type="radio" value="parts" checked name="opt_adreca_field"><label lang="ca">Dividida en diferents camps</label>
										<input id="opt_csv_unica" type="radio" value="unica" name="opt_adreca_field"><label lang="ca">En un camp únic</label> </li>
                                       <ul id="ul_adreca_parts">
                                       		<li lang="ca">Municipi o lloc</li>
											<li><select style="width: 100%;" id="cmd_upload_municipi"></select></li>
                                       		<li lang="ca">Nom via</li>
											<li><select style="width: 100%;" id="cmd_upload_nomVia"></select></li>
                                       		<li lang="ca">Article via</li>
											<li><select style="width: 100%;" id="cmd_upload_artVia"></select></li>
											<li lang="ca">Tipus via</li>
											<li><select style="width: 100%;" id="cmd_upload_tipVia"></select></li>											
											<li lang="ca">Portal</li>
											<li><select style="width: 100%;" id="cmd_upload_portal"></select></li>
											<li lang="ca">Carretera</li>
											<li><select style="width: 100%;" id="cmd_upload_carretera"></select></li>
											<li lang="ca">Punt quilom&egrave;tric</li>
											<li><select style="width: 100%;" id="cmd_upload_pk"></select></li>
											<li lang="ca">Top&ograve;nim</li>
											<li><select style="width: 100%;" id="cmd_upload_topo"></select></li>
											<li id="upload_num_txt" style="display:none;">Nombre de topònims a retornar:</li>
											<li id="upload_num" style="display:none;"><select style="width: 100%;" id="cmd_upload_topo_num">
											<option value="1">1</option>
											<option value="5">5</option>
											<option value="10">10</option> 
											<option value="20">20</option> 
											<option value="50">50</option>
											<option value="200">200</option>    
											</select></li>
										</ul>
                                       <ul id="ul_adreca_unica" style="display:none">										
											<li lang="ca">Camp que conté l'adreça única</li>
											<li><select style="width: 100%;" id="cmd_upload_caixaUnica"></select></li>		
										</ul>
									</ul>
									<button class="btn btn-success btn_mig" lang="ca"
										id="load_TXT_adre">Processar arxiu</button>
								</div>
								<div class="tab-pane" id="opt_codi">
									<ul class="bs-dadesO_JSON">
										<li><label lang="ca">Els teus codis són de</label>:</li>
										<li>
										<select id="cmd_codiType_Capa">
											<option lang="ca" selected value="municipis">Municipis</option>
											<option lang="ca" value="comarques">Comarques</option>
											<option lang="ca" value="provincies">Provincies</option>
										</select>
										</li>
										<li><label lang="ca">Tipus codi</label></li>
										<li>
										<select id="cmd_codiType">
											<option value="ine">INE (5 digits)</option>
											<option value="idescat">IDESCAT (6 digits)</option>
											<option value="municat">MUNICAT (10 digits)</option>
											<option value="cadastre">CADASTRE (5 digits)</option>
										</select>
										</li>
										<li><label lang="ca">Camp que conté el codi</label></li>
										<li><select style="width: 100%;" id="cmd_upload_codi"></select></li>
									</ul>
									<button class="btn btn-success btn_mig" lang="ca" id="load_TXT_codi">Processar arxiu</button>
								</div>
								<div class="tab-pane" id="opt_dades">
									Aquesta opci&oacute; permet carregar dades que no contenen informaci&oacute; geogr&agrave;fica. Instamaps crea una capa de punts localitzats arbitr&agrave;riament enfront Barcelona.<br/>
									Aix&ograve; permet:
									<ul>
										<li>tenir a Instamaps una taula d'informaci&oacute; no geogr&agrave;fica,</li>
										<li>pujar informaci&oacute; per vincular-la a una altra capa (mitjan&ccedil;ant uni&oacute; per columna), o b&eacute;</li>
										<li>despla&ccedil;ar cada punt a la seva localitzaci&oacute; correcta (icona moure).</li>
									</ul>
									Vegeu el <a href="http://betaportal.icgc.cat/wordpress/faq-dinstamaps/#sensegeo" target="_blank">FAQ 48</a>.
									<button class="btn btn-success btn_mig" lang="ca" id="load_TXT_dades">Processar arxiu</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
				<!--  
					<button id="bt_upload_cancel" lang="ca" type="button" class="btn btn-default" >Cancel·lar</button>
				---->
				</div>
				
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
<!-- fi Modal Carrega dades -->