<!-- Modal Publicar random -->
<div id="dialgo_publicar_random" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 lang="ca" class="modal-title">Publicar el mapa</h4>
			</div>
			<div class="modal-body" lang="ca">
				Per publicar o compartir el mapa has d'iniciar sessió
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn bt-sessio" 
						onClick="_gaq.push(["_trackEvent", "mapa", "inici sessio", "modal pre-publicar"]);">Inicia la sessió</button>
				<button lang="ca" type="button" class="btn bt_orange" 
						onClick="_gaq.push(["_trackEvent", "mapa", "registre", "modal pre-publicar"]);">Crea un compte</button>
				<button id="btn-guest" lang="ca" type="button" class="btn btn-default" data-dismiss="modal" 
						onClick="_gaq.push(["_trackEvent", "mapa", "guest", "modal pre-publicar"]);">Més tard</button>					
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal Publicar random -->