<!-- Modal delete layer -->
<div id="dialog_bloqueig_mapa" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-primary">
			<div class="modal-body" style="padding: 20px !important;">
				<span lang="ca">Han transcorregut 8 hores des que heu iniciat la sessi&oacute; de treball. Premeu "Continuar treballant" per mantenir-la  oberta, o "desbloquejar" per alliberar el mapa.</span><br/>
				<span lang="ca">Si no responeu, el mapa quedar&agrave; alliberat en 3 minuts.</span>
			</div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default"
					data-dismiss="modal">Continuar treballant</button>
				<button lang="ca" type="button" class="btn btn-danger"
					data-dismiss="modal">Desbloquejar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fi Modal delete -->