<select>
 <optgroup lang="ca" label="Més utilitzats">
	<option value="EPSG:4326">EPSG:4326 (WGS84 geogràfiques (lat,lon) - GPS)</option>
	<option value="EPSG:25831">EPSG:25831 (ETRS89-UTM 31N Easting,Northing o X,Y)</option>
  </optgroup>
  <option value="EPSG:4258">EPSG:4258 INSPIRE(ETRS89 geogràfiques (lat, lon) - G.G)</option>
  <option value="EPSG:4230">EPSG:4230 (ED50 geogràfiques (lat,lon) - G.G)</option>
  <option value="EPSG:3857">EPSG:3857 (WGS84 Pseudo-Mercator, Google)</option>
  <option value="EPSG:3043">EPSG:3043 (ETRS89-UTM 31N Northing,Easting o Y,X)</option>
  <option value="EPSG:23031">EPSG:23031 (ED50-UTM 31N Easting,Northing o X,Y)</option>	
  <option value="EPSG:32631">EPSG:32631 (WGS84 31N Easting,Northing o X,Y)</option>	
  <option selected value="-1">Selecciona el EPSG</option>
</select>