


<div class="input-group txt_ext">
		<span class="input-group-addon">
				<select  id="cmd_geoserveis_list" class="type-geoservice-list" style="border: 0px;cursor: pointer;    background-color: #f2f2f2;color: green;" >
				    <option value="WMS">WMS</option>
					<!--
				    <option value="WMTS">WMTS</option>
				    <option value="TMS" >TMS</option>
					-->
				  </select>
		</span>
	<input type="text" id="txt_URLWMS" lang="ca" style="height: 33px" placeholder="Entrar URL geoservei" class="form-control url-wms">
	<span class="input-group-btn">
		<button id="bt_connWMS" class="btn btn-success btn-conn-wms" type="button" >
			<span class="glyphicon glyphicon-play"></span>
		</button>
	</span>
</div>
<script id="list-template" type="x-handlebars-template">
  	{{#layer Layer}}
	  <li>
      {{#if Name}}
			{{#if Layer}}
				<span><i class="glyphicon glyphicon-folder-open"></i></span><button type="button" class="btn btn-link btn-all" lang="ca">Totes</button>/<button type="button" class="btn btn-link btn-none" lang="ca">Cap</button>/<button type="button" class="btn btn-link btn-invert" lang="ca">Invertir capes</button>
			{{else}}
				<span class="leaf"><input type="checkbox" class="ckbox_layer" id="{{Title}}" value="{{Name}}"> {{Title}}</span>
				{{#if Dimension}}
				<span id="geoservicetime_{{Name}}" class="glyphicon glyphicon-time info-wms"></span>		
			    {{/if}}		
			{{/if}}
		{{else}}
			<span><i class="glyphicon glyphicon-folder-open"></i> {{Title}}</span><button type="button" class="btn btn-link btn-all" lang="ca">Totes</button>/<button type="button" class="btn btn-link btn-none" lang="ca">Cap</button>/<button type="button" class="btn btn-link btn-invert" lang="ca">Invertir capes</button>
		{{/if}}
		{{#if Layer}}
        <ul class="sublayers_list">
        {{> list-template}}
        </ul>
        {{/if}}
    </li>
	{{/layer}}
</script>
<script id="capabilities-template" type="x-handlebars-template">
    <ul>
    {{> list-template}}
    </ul>
</script>
<div id="div_layersWMS" class="tbl tree layers-wms"></div>