<div class="input-group txt_ext">
	<input type="text" lang="ca" id="txt_URLWMS" style="height: 33px" placeholder="Entrar URL servei WMS" class="form-control">
	<span class="input-group-btn">
		<button class="btn btn-default" id="bt_connWMS" type="button">
			<span class="glyphicon glyphicon-play"></span>
		</button>
	</span>
</div>
<script id="list-template" type="x-handlebars-template">
  {{#layer Layer}}
	  <li>
      {{#if Name}}
			{{#if Layer}}
				<span><i class="glyphicon glyphicon-folder-open"></i></span><button type="button" class="btn btn-link btn-all">Totes</button>/<button type="button" class="btn btn-link btn-none">Cap</button>
			{{else}}
				<span class="leaf"><input type="checkbox" class="ckbox_layer" id="{{Title}}" value="{{Name}}"> {{Title}}</span>
				{{#if Dimension}}
				<span id="geoservicetime_{{Name}}" class="glyphicon glyphicon-time info-wms"></span>		
			    {{/if}}		
			{{/if}}
		{{else}}
			<span><i class="glyphicon glyphicon-folder-open"></i> {{Title}}</span><button type="button" class="btn btn-link btn-all">Totes</button>/<button type="button" class="btn btn-link btn-none">Cap</button>
		{{/if}}
		{{#if Layer}}
        <ul>
        {{> list-template}}
        </ul>
        {{/if}}
    </li>
	{{/layer}}
</script>
<script id="capabilities-template" type="x-handlebars-template">
    <ul>
    {{> list-template}}
    </ul>
</script>
<div id="div_layersWMS" class="tbl tree"></div>