html ,body {
    color: #000000;
    font-family: arial,sans-serif;
    font-size: 13px;
    margin:0;
    padding:0;
    
    width:100%;
    height:100%;
    overflow:hidden;
    
}

#header {
height:105px;
width:100%;
  border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 3px #666666;
    margin:1px;
    
}

#subheader1 {
height:30px;
width:100%;
background-color:#333333;
}

#subheader2 {
height:75px;
width:100%;
background-color:#ffffff;
}

#legend {
/*
       width: 300px;        
       position:absolute;
       top:108px;
      
*/
      float:left;
         width:30%; 
         height:100%;
     
     background-color: #eeeeee;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 3px #666666;
    
}
#mapa {
	
    /*
       position:absolute;
         top:108px;
         left:305px;
         */
         float:right;
         width:70%; 
         height:100%;
          border-left:2px solid #c7c7c7;
         background-color:#ffffff;
        
         background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 3px #666666;
}

/*

<div id="map_canvas" style="float:left;width:70%; height:100%"></div>

<div id="directionsPanel" style="float:right;width:30%;height 100%"></div>


*/